/AGN-Black-Hole-Research-Full-Catalog/hetdex_agn_hdr4.fits
hetdex_agn_hdr4.fits
AGN-Black-Hole-Research-Full-Catalog/All_Variables_2_I.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables_2_R.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables_2_Y.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables_2_Z.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables_2_G.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables_Bagpipes.h5
