/AGN-Black-Hole-Research-Full-Catalog/hetdex_agn_hdr4.fits
hetdex_agn_hdr4.fits
AGN-Black-Hole-Research-Full-Catalog/All_Variables_2_I.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables_2_R.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables_2_Y.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables_2_Z.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables_2_G.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables_Bagpipes.h5
AGN-Black-Hole-Research-Full-Catalog/All_Variables.h5
AGN-Black-Hole-Research-Full-Catalog/Combined_Table_Unique_DetectID.fits
AGN-Black-Hole-Research-Full-Catalog/Combined_Table_All_Filters.fits
*.fits
*.h5
.ipynb_checkpoints/
